.header{
    width: 1140px;
    max-width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    margin: auto;
    box-shadow: 0 7px 3px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 999;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}
.anchor a{
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
    font-size: 14px;
}
.anchor a.active{
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
    background: #776f6f;
    color: #eee;
    padding: 4px 8px;
    border-radius: 4px;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 3px;
}
.hamburger-open{
    display: none;
}
.hamburger-close{
    display: none;
}
@media (max-width:778px) {
    .anchor{
        padding-top: 60px;
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        text-align: right;
        background: rgba(255, 255, 255, 0.1);
        height: 50vh;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        transition: right .4s;
    }
    .anchor a{
        background: rgba(255, 255, 255, 0.0);
        margin-bottom: 30px;
        color: #1f1f1f;
    }
    .hamburger-open{
        display: block;
        width: 25px;
        height: 25px;
        
    }
    .hamburger-close{
       width: 25px;
       height: 25px;
       background: transparent;
       position: absolute;
       top: 5px;
       left: 10px;
        display: block;
    }

    .right{
        right: 0;
    }
}